# A collection of aliases that make life easier!
# Written by Tiger Sachse.

tossed_dir="$HOME/.tossed"
slate_dir="$HOME/Slate"

# General navigation and visual aliases.
alias ls="ls --color"
alias cls="clear && ls"
alias up="cd .. && pwd && ls"
function down {
    cd "$1" && {
        pwd
        command -v "git" > /dev/null 2>&1
        if [ $? -eq 0 -a -d ".git" ]; then
            git branch | grep '^*' | sed 's/*/branch:/g'
        fi
        ls
    }
}

# Reload this script.
alias reload="source $HOME/.bashrc"

# For when you're tilted.
alias fucking="sudo apt"

# Open the default editor with a short command.
# Note that this string must be wrapped in single quotes
# to avoid evaluating the argument here (before it has
# been changed in the main shell configuration script).
alias v='$EDITOR'

# Toss files into the rubbish bin.
function toss {
    tossed_stamped_dir="$tossed_dir/$(date +%s)"
    mkdir -p "$tossed_stamped_dir"
    for item in "$@"; do
        mv "$item" "$tossed_stamped_dir" &> /dev/null
        if [ $? -ne 0 ]; then
            printf "toss: could not toss '%s'\n" "$item"
        fi
    done
}

# Copy files to the slate.
function slate {
    mkdir -p "$slate_dir"
    for item in "$@"; do
        if [ -d "$item" ]; then
            cp -r "$item" "$slate_dir"
        elif [ -f "$item" ]; then
            cp "$item" "$slate_dir"
        fi
    done
}

# Clean out the slate or the rubbish bin.
function clean {
    case "$1" in
        "slate")
            toss "$slate_dir"/*
            ;;
        "tossed")
            rm -rf "$tossed_dir"/*
            ;;
        *)
            echo "clean: please specify 'tossed' or 'slate'"
            ;;
    esac
}

# Roll the three main git functions into one.
function acp {
    git add "$1"
    git commit -m "$2"
    git push
}

# Clone one of my personal repositories. Use SSH by default.
alias clone="clonessh"

function clonehttps {
    repository="$1"
    shift
    git clone "https://www.github.com/tgsachse/$repository.git" "$@"
}

function clonessh {
    repository="$1"
    shift
    git clone "git@github.com:tgsachse/$repository.git" "$@"
}
